#header {
	margin-top: -120px;
	margin-left: 131px;
	color : white;
    background-color: #0F5789;
}

#header_text{
	font-family: 'Open Sans';
	padding-top: 10px;
	padding-left: 25px;
}

#header_text2{
	font-family: 'Open Sans';
	padding-left: 25px;
}

#mySidenav{
	margin-top: 103px;
	font-size: 20px;
	background-color: #C5DCED;
}

#mySidenavText{
	padding-bottom: 5px;
	padding-left: 15px;
}

a {
	color : #6E9DBF;
}

#title{
	margin-top: 30px;
	margin-left: 245px;
	font-size: 20px;
	color: #7926ad;
}

#searchQuery{
	width : 700px;
	margin-top: 30px;
}

#mySuggestions{
	width : 700px;
	height : 300px;
	margin-top: -10px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    /*z-index: -1;*/
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
/*    transition: 0.5s;  0.5 second transition effect to slide in the sidenav 
*/
}

.center{
	padding-left: 340px;
}

table {
	margin-top: 60px;
	margin-left: 50px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}